@using ProgressCapture.Web.ViewModels
@model GoalViewModel

<div
    id="pc-root-container"
    class="d-flex flex-column flex-grow-1"
    data-control-type="ProgressTable"
    data-entity-id="@Model.Id"
></div>
