@using ProgressCapture.Web.ViewModels
@model SpaRootViewModel

<div
    id="pc-root-container"
    class="d-flex flex-column flex-grow-1"
    data-control-type="@Model.ControlType"
    data-entity-id="@Model.DefaultGoalId"
></div>
