<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProgressCapture.Web</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/dist/bundle.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProgressCapture.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @await Html.PartialAsync(partialViewName: "_Nav")
    </header>
    <div class="container-fluid">
        @if (TempData["FlashMessage"] is FlashMessage flash) {
            <div class="alert alert-@flash.Type">
                @flash.Message
            </div>
        }
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - ProgressCapture.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/dist/bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
