@import "custom";
@import "variables";
@import "fonts";

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";

.component-container {
    position: relative;
}

.library-wrapper {
    column-gap: 1.75rem;
}

.library-component-header {
    @include theme-headings();
    padding: .5rem 1rem;
    color: $sl-grey-lighterer;
    background-color: $sl-brown-darker;
}

.song-list-container {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    height: fit-content;
}

.project-list-group {
    font-size: 90%;
    max-height: $library-widget-max-height;
    overflow: auto;
    border: 1px solid $border-color;

    &.list-group-flush {
        border-radius: $border-radius;
    }
}

.song-list-group,
.song-list-group.list-group-flush {
    font-size: 90%;
    max-height: $library-widget-max-height;
    overflow: auto;

    .list-group-item:first-of-type {
        border-top: 1px solid $border-color;
    }

    .list-group-item:last-of-type {
        border-bottom-right-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
    }
}

.song-viewer-container {
    padding-left: 1rem;
}

.song-viewer {
    max-height: $library-widget-max-height;
}

.song-viewer-container {
    row-gap: 1rem;
    padding: 1rem 2rem;
    border: 1px solid $border-color;
    border-radius: $border-radius;
}

.toolbar-button-round {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    border: 1px solid $border-color;
    padding: .5rem;

    &:hover {
        background-color: $sl-brown-lightest;
    }
}

.summary-sidebar {
    min-width: 340px;
    height: fit-content;

    .sidebar-settings {
        a img:hover {
            // animation: .5s ease-in-out;
            filter: brightness(110%);
            transform: rotate(65deg);
        }

        a.disabled {
            cursor: pointer;
            pointer-events: none;

            img {
                filter: brightness(50%);
            }
        }
    }
}

.progress-type-form-wrapper {
    background-color: $sl-theme-dark;
}

a.col-sort-link {
    color: $table-color;
    text-decoration: none;

    &:hover {
        color: $sl-grey-light;
    }
}

.col-sort-desc::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.col-sort-asc::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: 0;
    border-right: .3em solid transparent;
    border-bottom: .3em solid;
    border-left: .3em solid transparent;
}
