@import "custom";
@import "variables";
@import "fonts";

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";

.component-container {
    position: relative;
}

.library-wrapper {
    column-gap: 1.75rem;
}

.library-component-header {
    @include theme-headings();
    padding: .5rem 1rem;
    color: $sl-grey-lighterer;
    background-color: $sl-brown-darker;
}

.song-list-container {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    height: fit-content;
}

.project-list-group {
    font-size: 90%;
    max-height: $library-widget-max-height;
    overflow: auto;
    border: 1px solid $border-color;

    &.list-group-flush {
        border-radius: $border-radius;
    }
}

.song-list-group,
.song-list-group.list-group-flush {
    font-size: 90%;
    max-height: $library-widget-max-height;
    overflow: auto;

    .list-group-item:first-of-type {
        border-top: 1px solid $border-color;
    }

    .list-group-item:last-of-type {
        border-bottom-right-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
    }
}

.song-viewer-container {
    padding-left: 1rem;
}

.song-viewer {
    max-height: $library-widget-max-height;
}

.song-viewer-container {
    row-gap: 1rem;
    padding: 1rem 2rem;
    border: 1px solid $border-color;
    border-radius: $border-radius;
}

.toolbar-button-round {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    border: 1px solid $border-color;
    padding: .5rem;

    &:hover {
        background-color: $sl-brown-lightest;
    }
}

.summary-sidebar {
    min-width: 340px;
    height: fit-content;

    .sidebar-settings {
        a img:hover {
            // animation: .5s ease-in-out;
            filter: brightness(110%);
            transform: rotate(65deg);
        }

        a.disabled {
            cursor: pointer;
            pointer-events: none;

            img {
                filter: brightness(50%);
            }
        }
    }
}

.progress-type-form-wrapper {
    background-color: $sl-theme-dark;
}

a.col-sort-link {
    color: $table-color;
    text-decoration: none;

    &:hover {
        color: $sl-grey-light;
    }
}

.col-sort-desc::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.col-sort-asc::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: 0;
    border-right: .3em solid transparent;
    border-bottom: .3em solid;
    border-left: .3em solid transparent;
}

.modal-content .view-controls {
    height: min-content;
}

// Progress Calendar
.calendar-wrapper {
    width: 100%;
    display: flex;
    flex: 1 1 auto;
}

$calendar-item-padding: .2rem .5rem;

.progress-calendar-header {
    position: relative;

    .date-select-control {
        // TODO: temporary positioning to fix bouncing due to month name
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        top: 25%;
        left: 45%;
    }
}

.progress-calendar {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;


    .calendar-weekdays {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        width: 100%;
    
        .weekday-label {
            flex: 1;
            padding: $calendar-item-padding;
            border-right: $border-main;
            border-top: $border-main;
    
            &:first-of-type {
                border-left: $border-main;
            }
        }
    }
    
    .calendar-body {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(5, 1fr);
        width: 100%;
        border-top: $border-main;
        height: 100%;
    }
}

.monthly-calendar-day {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-right: $border-main;
    padding: $calendar-item-padding;
    border-bottom: $border-main;

    &:first-child,
    &:nth-child(7n + 8) {
        border-left: $border-main;
    }

    .calendar-add-btn {
        opacity: .2;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 90%;
        padding: .25rem;
        border-radius: 2rem;
        border: 1px solid $sl-primary-lighter;
        transition: opacity .5s ease-out;

        &:hover {
            opacity: 1;
            background-color: $sl-grey-darker;
            border-color: $sl-primary-light;
        }
    }

    .label-row {
        position: relative;
    }

    .calendar-day-label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        padding: .25rem .5rem;
        border-radius: 1rem;

        &.outside-month-day {
            color: $sl-grey;
        }

        &.today {
            background-color: $sl-brown-lightest;
            color: $sl-grey-darkest;
        }
    }

    .calendar-day-body {
        padding: .25rem;
    }

    .calendar-entry {
        @each $i, $vals in $cal-item-styles {
            &.cal-entry-color-#{$i} {
                font-size: 90%;
                text-decoration: none;
                padding: .2rem .5rem;
                border-radius: .25rem;
                background-color: map-get($vals, bg);
                border: map-get($vals, border);
                color: map-get($vals, color);

                &:hover {
                    background-color: map-get($vals, hover-bg);
                }
            }
        }

        &.dropdown-toggle::after {
            display: flex;
            margin-left: 0;
            content: none;
            vertical-align: 0;
            border: none;
        }
    }
}
