.app-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.app-container {
    padding: 2rem;
}

.content-wrapper {
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-right: auto;
    margin-left: auto;
}
