@import "fonts";
@import "custom";
@import "variables";

// Main nav
.sl-nav {
    background-color: $sl-brown-lightest;
}

// .navbar-brand {
//     font-family: "Antic Didone", serif;
// }


.nav-utils {
    display: none;

    @include media-breakpoint-up(sm) {
        display: block;
    }
}

.sl-nav-container {
    position: relative;

    @each $bp, $max-width in $container-max-widths {
        @include media-breakpoint-up($bp) {
            max-width: $max-width;
        }
    }

    .nav-link:hover {
        text-decoration: underline;
    }
}

.sl-nav-main {
    padding-left: 0;
    padding-right: 0;

    @include media-breakpoint-up(sm) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.navbar-center {
    @include media-breakpoint-up(md) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

.nav-control-btns .btn {
    img {
        filter: brightness(55%);
    }

    &.active,
    &:hover {
        img {
            filter: brightness(100%);
        }   
    }
}

// Sidebar
.sl-sidebar {
    min-width: 200px;
    display: flex;
    justify-content: start;

    .nav-link {
        color: $body-color;

        &:hover {
            text-decoration: underline;
        }
    }
}
