// theme
$sl-theme-dark: #152837;

// primary
$sl-primary-darkest: #1c2126;
$sl-primary-darker: #3a434b;
$sl-primary-dark: #3a5164;
$sl-primary: #5a80a0;
$sl-primary-light: #8ea8be;
$sl-primary-lighter: #c3d2df;
$sl-primary-lightest: #e2e9ee;

// Brown theme
$sl-brown-darkest: #211c12;
$sl-brown-darker: #463a25;
$sl-brown-dark: #715f3d;
$sl-brown: #9f8556;
$sl-brown-light: #c2b08e;
$sl-brown-lighter: #daceb9;
$sl-brown-lighterer: #e8e1d4;
$sl-brown-lightest: #efebe2;

// Secondary theme
$sl-secondary-darkest: #2b2b18;
$sl-secondary-darker: #524532;
$sl-secondary-dark: #776f28;
$sl-secondary: #bea23c;
$sl-secondary-light: #d3ba78;
$sl-secondary-lighter: #ece3c2;
$sl-secondary-lightest: #f4f4dc;

// greys
$sl-grey-darkest: #1d252a;
$sl-grey-darkerer: #27353a;
$sl-grey-darker: #384956;
$sl-grey-dark: #5c6f84;
$sl-grey: #97acbf;
$sl-grey-light: #acbfd2;
$sl-grey-lighter: #d1e4eb;
$sl-grey-lighterer: #e8f2f7;
$sl-grey-lightest: #fafdff;

// info
$sl-info-darkest: #0e1b19;
$sl-info-darker: #315e56;
$sl-info-dark: #437f74;
$sl-info: #54a094;
$sl-info-light: #84c2b9;
$sl-info-lighter: #9cd3cb;
$sl-info-lightest: #ceedea;

// success
$sl-success-darkest: #18251b;
$sl-success-darker: #375338;
$sl-success-dark: #3e6f42;
$sl-success: #6cb771;
$sl-success-light: #86cb8f;
$sl-success-lighter: #abdeab;
$sl-success-lightest: #dff7df;

// warning
$sl-warning-darkest: #40400d;
$sl-warning-darker: #89891a;
$sl-warning-dark: #c7c223;
$sl-warning: #f0ea47;
$sl-warning-light: #f4eb6c;
$sl-warning-lighter: #f8f68b;
$sl-warning-lightest: #fbfbc1;

// danger
$sl-danger-darkest: #250d09;
$sl-danger-darker: #632a1c;
$sl-danger-dark: #873826;
$sl-danger: #df583a;
$sl-danger-light: #e2735a;
$sl-danger-lighter: #e79583;
$sl-danger-lightest: #f7cfc5;

$library-widget-max-height: 800px;
$border-main: 1px solid $sl-grey;

// Calendar item colors
$cal-item-styles: (
    1: (bg: #4E56C0, border: 1px solid #3d439e, color: #e3e5ff, hover-bg: #3f4591),
    2: (bg: #8156b2, border: 1px solid #834dc0, color: #e7dcf5, hover-bg: #7d4db3),
    3: (bg: #f2ccff, border: 1px solid #be86cf, color: #3c2145, hover-bg: #f8e4ff),
    4: (bg: #FDCFFA, border: 1px solid #ce89ca, color: #432141, hover-bg: #eee1ed),
    5: (bg: #cffdeb, border: 1px solid #b0e3d0, color: #1e382e, hover-bg: #e8f4ef),
    6: (bg: #cfeefd, border: 1px solid #a4c8da, color: #233138, hover-bg: #f1f7fa),
);
