@using System.Collections.Generic
@using ProgressCapture.Web.ViewModels

@model IReadOnlyList<NavGoalViewModel>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Goals
    </a>
    <ul class="dropdown-menu">
        @foreach (NavGoalViewModel goal in Model) {
            <li>
                <a
                    class="dropdown-item"
                    asp-route="App"
                    asp-route-goalId=@goal.Id
                >@goal.Name</a>
            </li>
        }
        <li><hr class="dropdown-divider"></li>
        <li>
            <a
                class="dropdown-item"
                asp-route="AddGoal"
            >New Goal</a>
        </li>
    </ul>
</li>
